@model Modal

<div id="@Model.ID" class="modal fade"  role="dialog" aria-labelledby="" aria-hidden="true" aria-modal="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document" style="display:block;">
        <div class="modal-content">
        </div>
    </div>
</div>
