@using Microsoft.AspNetCore.Identity
@using Examination.Data
@using System.IO
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
   
   
    <li class="right">
        <a id="login" asp-area="Admin" asp-controller="Profile" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <i class="fa fa-sign-out"></i>
            <span class="hide-on-small-only">   Chiqish</span>
        </a>

    </li>
}
else
{
    <li>
        <a id="register"  asp-area="Admin" asp-controller="Register" asp-action="Index">
            <i class="fa fa-user-circle"></i>

           <span class="hide-on-small-only"> Ro'hatdan o'tish</span>


        </a>
    </li>
    <li>
        <a id="login" asp-area="Admin" asp-controller="Register" asp-action="Login">
            <i class="fa fa-sign-in"></i>
            <span class="hide-on-small-only">   Login</span>
        </a>
    </li>
}

