
@{
    ViewData["Title"] = "Begin";

}

<div class="container ">
    <div class="alert alert-danger">
        <p class="text-danger center ">

            <i class="fa fa-2x  fa-question-circle ">       @ViewData["Message"]</i>
        </p>
    </div>


</div>

