@model Examination.Areas.Admin.Models.SuperAdminViewModels.CreateVm
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; 
}

<h2>@ViewData["Title"].</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Create" asp-antiforgery="true" class="form-horizontal">
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FISH" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FISH" class="form-control" />
            <span asp-validation-for="FISH" class="text-danger"></span>
        </div>
    </div>
 
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>
