<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020</strong> Software Developer by ISLAMOV HASAN
</footer>